
h1, h2, p, li {
    font-family: serif;
}


img {
    border: 1px solid #555;
}

img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}